* {
  --body-background-color: black;
  --font-primary-color: white;
  --font-secondary-color: rgb(113, 118, 123);
  --border-color: rgb(47, 51, 54);
  --btn-background-color: rgb(29, 155, 240);
  --who-to-follow-background-color: rgb(22, 24, 28);
  --hover-color: #090909;
}

.App {
  display: flex;
  width: 100%;
}

.main {
  width: 39%;
}

body {
  background-color: var(--body-background-color);
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .main {
    width: 80%;
  }
}
