.main_content_container {
  display: flex;
  flex-direction: column;
  border-left: solid 0.2px var(--border-color);
  border-right: solid 0.2px var(--border-color);
}

.posts {
  display: flex;
  flex-direction: column;
}

.avatar_img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.post_input {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.post_input textarea {
  background-color: var(--body-background-color);
  border: none;
  color: var(--font-primary-color);
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  padding-top: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.post_input textarea:focus {
  outline: none;
}

.post_button {
  width: 5rem;
  height: 2rem;
  align-self: flex-end;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--btn-background-color);
  color: var(--font-primary-color);
  cursor: pointer;
}

.post_content {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.page_header {
  font-size: larger;
  font-weight: 700;
  color: var(--font-primary-color);
}

.comment_content {
  display: flex;
  column-gap: 1rem;
}

.comment_container_icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comment_text {
  display: flex;
  flex-direction: column;
  color: var(--font-primary-color);
}

.comment_container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-top: solid 1px var(--border-color);
  padding: 1rem;
  cursor: pointer;
}

.comment_container:hover {
  background-color: var(--hover-color);
}

.icon_container {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  cursor: pointer;
  color: var(--font-secondary-color);
}

.count {
  font-size: small;
}

.icons {
  width: 1.2rem;
  height: 1.2rem;
}

.follow_suggestion_username,
.dots {
  color: var(--font-secondary-color);
}

.buttons {
  display: flex;
  margin-left: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.option_icons {
  color: var(--btn-background-color);
  display: flex;
  column-gap: 1rem;
  font-size: 1.3rem;
  flex-wrap: wrap;
}

.post_option {
  display: flex;
  justify-content: space-between;
}

.follow_suggestion_name {
  font-weight: 700;
}

.follow_suggestion_name:hover {
  text-decoration: underline 1px;
}

.blue_icon:hover {
  color: var(--btn-background-color);
  border-radius: 50%;
}

.pink_icon:hover {
  color: rgb(249, 24, 128);
}

.green_icon:hover {
  color: rgb(80, 200, 120);
}

@media screen and (max-width: 500px) {
  .time_icon,
  .poll_icon {
    display: none;
  }
  .post_button {
    margin-top: 0.8rem;
  }
  .post_input textarea {
    width: 50%;
    font-size: 0.9rem;
  }
}
